<head>
</head>

<body>
<header>
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p> cyberduck bar</p> </div>
</header>

<div class="clients"> Liste des Clients </div>   
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>


    <div class="card-body"> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of list()">
                    <td>{{c.id}}</td>
                    <td>{{c.nom}}</td>
                    <td>{{c.prenom}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(c.id)" class="btn btn-primary"><i class="bi bi-pen"></i>Modifier</a>
                        <a (click)="remove(c.id)" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i>Ajouter Client</a>
    </div>


<div *ngIf="clientForm">
    <div class="card-header">
        Edition d'un client
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="clientForm.id">
        </div>
        <div class="mb-3">
            <label for="dateEmprunt" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="clientForm.nom">
        </div>
        <div class="mb-3">
            <label for="client" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="clientForm.prenom">
        </div>
    </div>
    <div class="card-footer">
        <a (click)="save()" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i>Ajouter</a>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i>Annuler</a>
    </div>
</div>
