
<body>
<header>
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p>cyberduck bar</p> </div>
</header>

<div class="activities"> 
    <h1 class="sousTitre"> Nos activités</h1>
    <div class="activite">
        <div class="sousactivities">
         
            <img src=".\assets\Images\Manette.png" class="card-img-top" alt="Manette">
            <div class="card-body">
              <p class="card-text">Un petit match Fifa ou t’es plutôt Super Smash Bros ? Viens montrer à tes potes qui est le patron !</p>
            </div>
        
        </div>
        <div class="sousactivities">
        
            <img src=".\assets\Images\jeucartes.png" class="card-img-top" alt="Jeu">
            <div class="card-body">
              <p class="card-text">Que tu sois le maître de Catan ou le stratège ultime de Risk. Montre à tes potes qui règne en louant les jeux les plus épiques.</p>
            </div>
       
        </div>
        <div class="sousactivities">
      
            <img src=".\assets\Images\casque.png" class="card-img-top" alt="Casque">
            <div class="card-body">
              <p class="card-text">Virtuose de LoL ou un as de Valorant. Des tournois épiques t’attendent, alors prépare-toi à déchainer tes compétences.</p>
            </div>
        
        </div>
        <div class="sousactivities">
        
            <img src=".\assets\Images\bouledisco.png" class="card-img-top" alt="Boule disco">
            <div class="card-body">
              <p class="card-text">Viens regarder un match ou montrer ta connaissance musicale, quoi qu'il arrive tu trouveras une soirée pour toi !</p>
            </div>
       
        </div>
      </div>
      </div>

      <!-- Triangle jaune -->
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>
  

<div class="description">
<h1 class="sousTitre">CyberDuck Bar </h1>
  <p> Bienvenue chez CyberDuck Bar, l'ultime oasis de divertissement à la point de la technologie dans votre ville ! Exploité par une équipe de quatre gérants provenant tout droit d'un futur moins radieux, notre bar à thème gaming révolutionne l'expérience sociale. 
        Plonge dans l'atmosphère futuriste immersive, où les néons éclatent et la technologie fusionne avec le divertissement. Notre espace propose une large gamme de jeux vidéos et de jeux de sociétés, des classiques aux dernières sorties, pour satisfaire les gamers en quête d'adrénaline.
        Participe aux tournoi d'e-sport où vos compétences virtuelles vont se traduire en triomphes réels. Mais viens aussi juste boire un verre entre amis, participer à un blind-test ou juste regarder un match. 
      Rejoins-nous pour une expérience de divertissement immersive.
  </p>
</div>

<div class="details"> 
<div class="adresseHoraire">
    <h4 class="sousTitre"> Adresse </h4> 
      <p> 6 Rue Rougemont 75000 Paris </p> <br/>

    <h4 class="sousTitre">Horaires </h4>
    <p> Mardi : 11h23 à 18h52  <br/>
     Mercredi : 15h58 à 22h12 <br/>
     Jeudi : 19h08 à 02h46 <br/>
     Vendredi : 10h11 à 12h25 / 15h13 à 17h12 <br/>
     Samedi : 00h01 à 23h59 <br/>
     Dimanche : 11h à 18h
    </p>  
</div>
    <div class="map">   
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.2976491613167!2d2.3460403999999997!3d48.8716021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e15fc083afd%3A0x1a024cc5c4ca78d6!2s6%20Rue%20Rougemont%2C%2075009%20Paris!5e0!3m2!1sfr!2sfr!4v1704198816313!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

</body>