
header{
    height: 500px;
    display:flex;
    background-image: url(src\assets\Images\banniere1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
  
  #logo
  {
    margin-top: 20px;
    margin-left: 40px;
  }
  
  #titre
  {
    font-family: 'cyberCity';
    width:70%;
    font-size:60px;
    color:#FFEA30;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00F0FF;
    text-shadow:
      5px 5px 10px #00033e,
      -5px 5px 10px #00033e,
      -5px -5px 10px #00033e,
      5px -5px 10px #00033e;
      margin-top: 100px;
      margin-left: 200px;
  }

  
body {
    background-color: #000;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'terminalGrotesque';
}

.activities{
    background-color: #000;
    color: #FFEA30;
    font-size:20px;
    padding: 20px;
    margin-bottom: 40px;
    padding-top: 60px;
    
}

.activite {
    display:flex;
    justify-content:space-around;

}

.sousactivities{
    background-color: #13566D;
    color:#FFEA30;
    width:20%;
    font-size:20px;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 15px;

}
.sousactivities img{
    mix-blend-mode: hard-light;
}


.sousTitre{
    font-family: 'angerpoise';
 
}
.description{
    display:flex;
    flex-direction: column;
    background-color: #13566D;
    color: #FFFFFF ;
    font-size:20px;
    padding: 60px;
}

#polygon {
    height: 39px;
  } 

.details{
    background-color: #13566D;
    color: #FFFFFF ;
    display:flex;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-bottom: 60px;
    font-size:20px;


}

.adresseHoraire{
    width:40%;
    justify-content: flex-start;
}

.map{
    width:60%;
    justify-content:flex-end;
}


.lien-main {
    cursor: pointer;
}
