.navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'angerpoise';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    width: 100%;
    height: 40px;
  }
  
  .nav-item {
    color: #FFEA30;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #FFEA30;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }

  .nav-item.active {
    text-decoration: underline;
  }

  #info-compte{
    color :#0dcaf0 ; 
  }