<ul class="navbar">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['accueil']" routerLinkActive="active">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['client']" routerLinkActive="active" *ngIf="isAdmin()" >Liste Client</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['reservation']" routerLinkActive="active" *ngIf="isAdmin()">Liste Reservation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['emprunt']" routerLinkActive="active" *ngIf="isAdmin()">Liste Location</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['emprunt-jeu']" routerLinkActive="active" *ngIf="isClient()">Louer un Jeu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['inscription-evenement']" routerLinkActive="active" *ngIf="isClient()">S'inscrire à un evenement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['tabclient']" routerLinkActive="active" *ngIf="isClient()">Tableau de bord</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['evenement']" routerLinkActive="active" *ngIf="isAdmin()">Liste Evenement</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" [routerLink]="['jeux']" routerLinkActive="active" *ngIf="isAdmin()">Liste Jeux</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['jeux-societe']" routerLinkActive="active" *ngIf="isAdmin()">Liste JeuxSociete</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['jeux-video']" routerLinkActive="active" *ngIf="isAdmin()">Liste JeuxVideo</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active" *ngIf="!isLogged()">Connexion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['inscription']" routerLinkActive="active" *ngIf="!isLogged()">Inscription</a>
    </li>
    
    
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['menu']" routerLinkActive="active" *ngIf="isAdmin()">Menu</a>
    </li>


    <li class="nav-item" *ngIf="isLogged()" >
        <a class="nav-link" (click)="logout()">Déconnexion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['qui-sommes-nous']" routerLinkActive="active">Qui sommes nous</a>
    </li>

     <li>
        <span id="info-compte" >{{showCompte()}}</span>
    </li> 

</ul>