<ul class="nav nav-pills mt-3">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['accueil']" routerLinkActive="active">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['client']" routerLinkActive="active">Liste Client</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['reservation']" routerLinkActive="active">Liste Reservation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['emprunt']" routerLinkActive="active">Liste Location</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['emprunt-jeu']" routerLinkActive="active">Client : Location Jeu</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['evenement']" routerLinkActive="active">Liste Evenement</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" [routerLink]="['jeux']" routerLinkActive="active">Liste Jeux</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['jeux-societe']" routerLinkActive="active">Liste JeuxSociete</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['jeux-video']" routerLinkActive="active">Liste JeuxVideo</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Connexion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['inscription']" routerLinkActive="active">Inscription</a>
    </li>
    
    
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['menu']" routerLinkActive="active">Menu</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['qui-sommes-nous']" routerLinkActive="active">Qui sommes nous</a>
    </li>

    <!-- <li>
        <span>{{showUtilisateur()}}</span>
    </li> -->

</ul>