<ul class="navbar">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['accueil']" routerLinkActive="active">Accueil</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['emprunt-jeu']" routerLinkActive="active" *ngIf="isClient()">Louer un Jeu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['evenement']" routerLinkActive="active" *ngIf="isClient()">Les évènements en cours</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['tabclient']" routerLinkActive="active" *ngIf="isClient()">Tableau de bord</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['menu']" routerLinkActive="active" *ngIf="isClient()">Menu</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['admin']" routerLinkActive="active" *ngIf="isAdmin()">Tableau de bord Admin</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active" *ngIf="!isLogged()">Connexion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['inscription']" routerLinkActive="active" *ngIf="!isLogged()">Inscription</a>
    </li>
    

   

    <li class="nav-item" *ngIf="isLogged()" >
        <a class="nav-link" (click)="logout()">Déconnexion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['qui-sommes-nous']" routerLinkActive="active">Qui sommes nous</a>
    </li>

     <li>
        <span id="info-compte" >{{showCompte()}}</span>
    </li> 

</ul>