/.metadata/
BarGamingBack/.metadata/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
BarGamingFront/BarGamingFront/dist
BarGamingFront/BarGamingFront/tmp
BarGamingFront/BarGamingFront/out-tsc
BarGamingFront/BarGamingFront/bazel-out

# Node
BarGamingFront/BarGamingFront/node_modules
BarGamingFront/BarGamingFront/npm-debug.log
BarGamingFront/BarGamingFront/yarn-error.log

# IDEs and editors
.BarGamingFront/BarGamingFront/idea/
BarGamingFront/BarGamingFront/.project
BarGamingFront/BarGamingFront/.classpath
BarGamingFront/BarGamingFront/.c9/
BarGamingFront/BarGamingFront/*.launch
BarGamingFront/BarGamingFront/.settings/
BarGamingFront/BarGamingFront/*.sublime-workspace

# Visual Studio Code
BarGamingFront/BarGamingFront/.vscode/*
BarGamingFront/BarGamingFront/!.vscode/settings.json
BarGamingFront/BarGamingFront/!.vscode/tasks.json
BarGamingFront/BarGamingFront/!.vscode/launch.json
BarGamingFront/BarGamingFront/!.vscode/extensions.json
BarGamingFront/BarGamingFront/.history/*

# Miscellaneous
BarGamingFront/BarGamingFront/.angular/cache
BarGamingFront/BarGamingFront/.sass-cache/
BarGamingFront/BarGamingFront/connect.lock
BarGamingFront/BarGamingFront/coverage
BarGamingFront/BarGamingFront/libpeerconnection.log
BarGamingFront/BarGamingFront/testem.log
BarGamingFront/BarGamingFront/typings

# System files
.DS_Store
Thumbs.db
