body {
    margin: 0;
    padding: 0;
    font-family: 'terminalGrotesque';
    font-size: 20px;
    background-color: #000; /* Couleur de fond noire */
    min-height: 100vh;
  }

  header{
    height: 500px;
    display:flex;
    background-image: url(src\assets\Images\banniere1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
  
  #logo
  {
    margin-top: 20px;
    margin-left: 40px;
  }
  
  #titre
  {
    font-family: 'cyberCity';
    width:70%;
    font-size:60px;
    color:#FFEA30;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00F0FF;
    text-shadow:
      5px 5px 10px #00033e,
      -5px 5px 10px #00033e,
      -5px -5px 10px #00033e,
      5px -5px 10px #00033e;
      margin-top: 100px;
      margin-left: 200px;
  }


  .content h2 {
    font-family: 'angerpoise', sans-serif;
    font-size: 40px;
  }

  .team-presentation h2 {
    font-family: 'angerpoise', sans-serif;
    font-size: 40px;
  }

  .team-member h3 {
    font-family: 'angerpoise', sans-serif;
    font-size: 30px;
  }


  
  .black-bg {
    background-color: #000;
    color: #FFEA30;
    padding: 80px;
  }
  
  #polygon {
    height: 39px;
  } 
  
  .team-presentation {
    background-color: #13566D;
    color: #FFF;
    padding: 100px;
  }
  
  .team-member {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .team-member img {
    width: 332px;
    height: 330px;
  }
  
  .team-member .text {
    margin-left: 20px;
  }
  