
<body>

    <header>
      <div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
      <div id="titre"><p>cyberduck bar</p> </div>
    </header>


  <section class="content">
    <!-- Texte jaune sur fond noir -->
    <div class="black-bg">
      <h2>Qui sommes nous</h2>
      <p>Les quatre visionnaires gérants de CyberDuck Bar sont des émissaire provenant d’un futur dystopique où la technologie et le divertissement fusionnent de manière révolutionnaire. Ayant vécu l’effervescence de la vie nocturne, ils ont décidés d’apporter un morceau de leur expérience à votre ville contemporaine de 2023. 
        Chacun de ces gérants, venant des coins les plus animés et dynamiques du futur, a apporté sa spécialité au projet. 
        
        Découvre notre histoire...</p>
    </div>
  </section>

<!-- Triangle jaune -->
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>
  
<section class="team-presentation">
    <!-- Présentation de l'équipe -->
    <h2>Presentation de l'equipe</h2>
    <div class="team-member">
      <!-- Photo de l'équipe -->
      <img src=".\assets\Images\Dorine.jpg" alt="Photo Dorine">
      <div class="text">
        <h3>Poly Copper</h3>
        <p>Ex gérante d’une boite de nuit en plein cœur de Night City, a réinventé son expertise pour devenir la maitresse des jeux de société chez CyberDuck Bar. Désormais spécialisée dans les jeux de rôles, elle crée une atmosphère immersive où les joueurs explorent des mondes fantastiques tout en profitant du dynamisme de la vie nocturne.</p>
      </div>
    </div>

    <div class="team-member">
      <!-- Photo de l'équipe -->
      <img src=".\assets\Images\Issa.jpg" alt="Photo Issa">
      <div class="text">
        <h3>Lock Coilson</h3>
        <p>Autrefois chirurgien spécialisé en nanotechnologie à Night City, a canalisé sa passion pour la précision dans le monde des tournois e-sport chez CyberDuck Bar. En tant que maître des compétitions virtuelles, il combine son expertise médicale avec une approche chirurgicale du jeu, assurant des tournois d'une intensité technologique inégalée.</p>
      </div>
    </div>

    <div class="team-member">
      <!-- Photo de l'équipe -->
      <img src=".\assets\Images\Thi Tham.jpg" alt="Photo Thi Tham">
      <div class="text">
        <h3>Liu Dongle</h3>
        <p>Ancienne membre des forces spéciales contre le crime à Night City, a canalisé sa détermination et son sens de l'organisation pour devenir la parfaite organisatrice d'événements chez CyberDuck Bar. Des soirées à thème aux tournois spéciaux, elle assure que chaque instant chez nous soit une expérience inoubliable, harmonisant son passé intrépide avec une passion pour l'excitation sociale.</p>
      </div>
    </div>

    <div class="team-member">
      <!-- Photo de l'équipe -->
      <img src=".\assets\Images\Corentin.jpg" alt="Photo Corentin">
      <div class="text">
        <h3>Gaffa Spellis</h3>
        <p>Ancien membre d'une équipe criminelle de renom à Night City, a canalisé sa maîtrise du jeu à des fins plus positives en devenant le spécialiste des jeux vidéo chez CyberDuck Bar. De la stratégie sournoise des ruelles à la virtuosité numérique, il assure une expérience de jeu exceptionnelle où les compétences virtuelles priment sur les anciens exploits criminels</p>
      </div>
    </div>
    <!-- Répétez pour chaque membre de l'équipe -->
  </section>

</body>

