<body>
   <header>
      <div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
      <div id="titre"><p>cyberduck bar</p> </div>
    </header>

    <div class="emprunts"> Liste des Emprunts </div>   
    <div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>
    
    <div class="corps">
        <div class="button" >
            <button type="button" class="btn btn-warning" (click)="voirTabJeuSociete()">Jeux de sociétés</button>
            <button type="button" class="btn btn-warning" (click)="voirTabJeuVideo()">Jeux Vidéos</button>
        </div></div>
    
    </body>
    
    
    
 