<body>

    <header>
      <div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
      <div id="titre"><p>cyberduck bar</p> </div>
    </header>

    <div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>

<div class="corps" >
    <div class="mb-3">
        
        <label for="liste" class="form-label">Liste des jeux:</label>
        <select class="form-select" id="evenements"  [(ngModel)]="empruntForm.jeu">
            <option *ngFor="let u of listeJeux()" [ngValue]="u">{{u.nom}} {{u.plateforme}}  </option>
        </select>
    
        <div class="card-footer">
            <a (click)="save()" class="btn btn-success btn-lg">Choisir ce jeu</a>
            <a (click)="cancel()" class="btn btn-warning btn-lg mx-2">Annuler</a>
        </div>
    
    </div>
    
    
    
    </div>
