<div class="card mt-3">
    <div class="card-header text-white bg-primary">
        Liste des Evénements 
    </div>
    <div class="card-body"> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Horaire de Début</th>
                    <th>Horaire de Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of list()">
                    <td>{{e.id}}</td>
                    <td>{{e.nom}}</td>
                    <td>{{e.date}}</td>
                    <td>{{e.horaireDebut}}</td>
                    <td>{{e.horaireFin}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(e.id)" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                        <a (click)="remove(e.id)" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i></a>
    </div>
</div>

<div class="card mt-3" *ngIf="eventForm">
    <div class="card-header text-white bg-primary">
        Edition d'un emprunt
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="eventForm.id">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="eventForm.nom">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="text" class="form-control" id="date" name="date" [(ngModel)]="eventForm.date">
        </div>
        <div class="mb-3">
            <label for="horaireDebut" class="form-label">Horaire de début:</label>
            <input type="text" class="form-control" id="horaireDebut" name="horaireDebut" [(ngModel)]="eventForm.horaireDebut">
        </div>
        <div class="mb-3 mt-3">
            <label for="horaireFin" class="form-label">Horaire de fin:</label>
            <input type="text" class="form-control" id="horaireFin" name="horaireFin" disabled [(ngModel)]="eventForm.horaireFin">
        </div>
    </div>
    <div class="card-footer">
        <a (click)="save()" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i></a>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
</div>
