.body {
    background: url('../../assets/Images/banniere4.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;  /* 50% de la largeur de la fenêtre */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    background-color: #FFEA30;
    color: #000;
    width: 100%;
    font-size: x-large;
    text-align: center;
    font-family: 'angerpoise';
}

.connexion {
    color: #FFF;
    font-size: xx-large;
    text-align: center;
    font-family: 'angerpoise';
}

.text {
    color: #FFF;
    font-size: large;
    text-align: center;  
    font-family: 'terminalGrotesque';
}

.card-body{
 background-color:  #13566d6c;
}

.mb-3 {
    color: #FFF;
    font-family: 'terminalGrotesque';
    font-size: large;
}

.card-footer {
    background-color:  #13566d6c;
    text-align: center;
}

.btn {
    background-color: #FFEA30;
    color:#000;
    font-size: large; 
    border: none; 
    border-radius: 0%;
    padding: 10px 20px; 
    font-family: 'angerpoise';
}

.form-check-input,
.form-check-label {
    color: white; }

    /* Media Queries for Responsive Design */

@media screen and (max-width: 767px) {
    /* Add styles for small screens */
    .card-body {
        padding: 10px; /* Adjust padding for small screens */
    }
    .btn {
        font-size: medium; /* Adjust button font size for small screens */
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Add styles for medium screens */
    .body {
        background-size: contain; /* Adjust background size for medium screens */
    }
}

/* Add more media queries as needed for larger screens */