<head>
</head>

<body>
<header>
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p> cyberduck bar</p> </div>
</header>

<div class="videos"> Liste des Jeux Videos </div>   
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>

    <div class="card-body"> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Plateforme</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let j of list()">
                    <td>{{j.id}}</td>
                    <td>{{j.nom}}</td>
                    <td>{{j.plateforme}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(j.id)" class="btn btn-primary"><i class="bi bi-pen"></i>Modifier</a>
                        <a (click)="remove(j.id)" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>
 
    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i>Ajouter jeu video</a>
    </div>   </div>

<div *ngIf="jeuxVideoForm">
    <div class="card-header">
        Edition d'un nouveau jeu video
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="jeuxVideoForm.id">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="jeuxVideoForm.nom">
        </div>
        <div class="mb-3">
            <label for="plateform" class="form-label">Plateforme:</label>
            <select class="form-select" id="plateforme" name="plateforme" [(ngModel)]="jeuxVideoForm.plateforme">
                <option value="PC">PC</option>
                <option value="PS5">PS5</option>
                <option value="XBOX">XBOX</option>
                <option value="SWITCH">SWITCH</option>
                <option value="SEGA">SEGA</option>
                <option value="GAMEBOYCOLOR">GAMEBOYCOLOR</option>
            </select>
        </div>
  
    <div class="card-footer">
        <a (click)="save()" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i>Ajouter</a>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i>Annuler</a>
    </div>  </div>
</div>
