<head>
</head>

<body>
<header>
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p> cyberduck bar</p> </div>
</header>

<div class="evenements"> Liste des Evénements </div>   
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>

<ng-container *ngIf="isClientUser()">
<section class="ListEvenements">
    <div class="evenement-container">
        <div class="date-heure">
            <p>Samedi 13 Janvier</p>
            <p>21h05</p>
        </div>
        <div class="event1">
            <p>Tournoi Valorant</p>
        </div>
    </div>
</section>

<section class="ListEvenements">
    <div class="evenement-container">
        <div class="date-heure">
            <p>Samedi 10 Fevrier</p>
            <p>19h48</p>
        </div>
        <div class="event2">
            <p>Murder Party</p>
        </div>
    </div>
</section>

<section class="ListEvenements">
    <div class="evenement-container">
        <div class="date-heure">
            <p>Jeudi 22 Février</p>
            <p>00h03</p>
        </div>
        <div class="event3">
            <p>Tournoi Mario Kart</p>
        </div>
    </div>
</section>

<section class="ListEvenements">
    <div class="evenement-container">
        <div class="date-heure">
            <p>Samedi 08 Mars</p>
            <p>21h33</p>
        </div>
        <div class="event4">
            <p>Blind Test</p>
        </div>
    </div>
</section>
</ng-container>    
    
    

<ng-container *ngIf="isAdminUser()">

    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Horaire de Début</th>
                    <th>Horaire de Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of list()">
                    <td>{{e.nom}}</td>
                    <td>{{e.date}}</td>
                    <td>{{e.horaireDebut}}</td>
                    <td>{{e.horaireFin}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(e.id)" class="btn btn-primary"><i class="bi bi-pen"></i>Modifier</a>
                        <a (click)="remove(e.id)" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>

    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i>Ajouter évènement</a>
    </div>    </div>

    
<div *ngIf="evenementForm">
    <div class="card-header">
        Edition d'un évènement
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="evenementForm.id">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="evenementForm.nom">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="evenementForm.date">
        </div>
        <div class="mb-3">
            <label for="horaireDebut" class="form-label">Horaire de début:</label>
            <input type="time" class="form-control" id="horaireDebut" name="horaireDebut" [(ngModel)]="evenementForm.horaireDebut">
        </div>
        <div class="mb-3 mt-3">
            <label for="horaireFin" class="form-label">Horaire de fin:</label>
            <input type="time" class="form-control" id="horaireFin" name="horaireFin"  [(ngModel)]="evenementForm.horaireFin">
        </div>
    </div> 
   

    <section class="ListEvenements" *ngIf="evenementForm">
        <div class="card-footer">
            <a (click)="save()" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i>Ajouter</a>
            <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace">Annuler</i></a>
        </div>
    </section>

    
<!--</div>!-->