header{
    height: 500px;
    display:flex;
    background-image: url(src\assets\Images\Event.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
  
  #logo
  {
    margin-top: 20px;
    margin-left: 40px;
  }
  
  #titre
  {
    font-family: 'cyberCity';
    width:70%;
    font-size:60px;
    color:#FFEA30;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00F0FF;
    text-shadow:
      5px 5px 10px #00033e,
      -5px 5px 10px #00033e,
      -5px -5px 10px #00033e,
      5px -5px 10px #00033e;
      margin-top: 100px;
      margin-left: 200px;
  }
  
body {
    background-color: #000;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'terminalGrotesque';
}

  .evenements {
    color: #ffeb4a;
    font-family: 'angerpoise';
    font-size: 40px;
    font-weight: 400;
    display:flex;
    justify-content:center;
    align-items:center;
    white-space: nowrap;
  }

  .ListEvenements {
    background-color: #13566D;
    color: #FFF;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evenement-container {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
}

.date-heure {
    flex: 1;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: larger;
}

.event1 {
    flex: 10;
    background: url(src\assets\Images\Valorant.webp) center/cover no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
}

.event1 p {
    color: #ffeb4a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'angerpoise';
}

.event2 {
    flex: 10;
    background: url(src\assets\Images\MurderParty.jpg) center/cover no-repeat;
    background-size: cover;
    background-position-y: -220px;
    position: relative;
    padding: 20px;
}

.event2 p {
    color: #ffeb4a;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: xx-large;
    font-family: 'angerpoise';
}

.event3 {
    flex: 10;
    background: url(src\assets\Images\MarioKart.webp) center/cover no-repeat;
    background-size:relative;
    background-position-y: -300px;
    position: relative;
    padding: 20px;
}

.event3 p {
    color: #ffeb4a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'angerpoise';
}

.event4 {
    flex: 10;
    background: url(src\assets\Images\BlindTest.jpeg) center/cover no-repeat;
    background-size: cover;
    background-position-y: -350px;
    position: relative;
    padding: 20px;
}

.event4 p {
    color: #ffeb4a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'angerpoise';
}

.ListEvenements:not(:last-child) {
    margin-bottom: -150px;
}

.card-body th, td {
    background-color: #13566D;
    color: #ffeb4a;
    font-family: 'terminalGrotesque';
}

.card-header {
    color: #FFEA30;
    width: 100%;
    font-size: x-large;
    text-align: center;
    font-family: 'angerpoise';
    font-size: 50px;
}
.mb-3 {
    color: #FFEA30;
    font-family: Terminal Grotesque;
    font-size: x-large;
}
.form-control {
    background-color: #000;
    color:#FFEA30
  }
 
  .btn-success {
    color: #FFEA30;
      font-family: Angerpoise Lampshade;
      font-size: x-large;
      border-radius: 0;
  }
  
  .btn-warning {
    color: #000000;
      font-family: Angerpoise Lampshade;
      font-size: x-large;
      border-radius: 0;
  }