
<div class="row">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Inventaire des Jeux</h5>
            <img class="card-img-top" src="..." alt="Card image cap">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
                <a (click)="goJeux()" class="btn btn-primary">J'y vais !</a>
                <small class="text-muted">Last updated 3 mins ago (voir si besoin)</small>
              </div>        
            </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gestion des jeux de sociétés</h5>
            <img class="card-img-top" src="..." alt="Card image cap">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
                <a (click)="goJeuxSocietes()" class="btn btn-primary">J'y vais !</a>
                <small class="text-muted">Last updated 3 mins ago (voir si besoin)</small>
              </div>          
            </div>
        </div>
      </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gestion des jeux de vidéos</h5>
            <img class="card-img-top" src="..." alt="Card image cap">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
                <a (click)="goJeuxVideos()" class="btn btn-primary">J'y vais !</a>
                <small class="text-muted">Last updated 3 mins ago (voir si besoin)</small>      
            </div>          
        </div>
        </div>
      </div>

</div>


<div class="row">

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gestion des évènements</h5>
            <img class="card-img-top" src="..." alt="Card image cap">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
                <a (click)="goEvenements()" class="btn btn-primary">J'y vais !</a>
                <small class="text-muted">Last updated 3 mins ago (voir si besoin)</small>      
            </div>          
        </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gestion des emprunts</h5>
            <img class="card-img-top" src="..." alt="Card image cap">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
                <a (click)="goEmprunts()" class="btn btn-primary">J'y vais !</a>
                <small class="text-muted">Last updated 3 mins ago (voir si besoin)</small>      
            </div>          
        </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Gestion des clients</h5>
              <img class="card-img-top" src="..." alt="Card image cap">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="card-footer">
                  <a (click)="goClients()" class="btn btn-primary">J'y vais !</a>
                  <small class="text-muted">Last updated 3 mins ago (voir si besoin)</small>      
              </div>          
          </div>
          </div>
     </div>
</div>
    