header{
    height: 500px;
    display:flex;
    background-image: url(src\assets\Images\Admin.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
  
 #logo
 {
   margin-top: 20px;
   margin-left: 40px;
 }
 
 #titre
 {
   font-family: 'cyberCity';
   width:70%;
   font-size:60px;
   color:#FFEA30;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #00F0FF;
   text-shadow:
     5px 5px 10px #00033e,
     -5px 5px 10px #00033e,
     -5px -5px 10px #00033e,
     5px -5px 10px #00033e;
     margin-top: 100px;
     margin-left: 200px;
 }
  
body {
    background-color: #000;
    min-height: 100%;
    margin: 0;
    font-family: 'terminalGrotesque';
}

.clients {
    color: #FFEA30;
    font-family: 'angerpoise';
    font-size: 40px;
    font-weight: 400;
    display:flex;
    justify-content:center;
    align-items:center;
    white-space: nowrap;
  }

  .card-body th, td {
    background-color: #13566D;
    color: #FFEA30;
    font-family: 'terminalGrotesque';
}

.card-header {
    color: #FFEA30;
    width: 100%;
    font-size: x-large;
    text-align: center;
    font-family: 'angerpoise';
    font-size: 50px;
}

  .button {
    display: flex;
    width: 100%;
  }
  .button button {
    flex: 1;
    width: 25%;
    margin: 5px;
    border: none; 
    border-radius: 0%;
    font-size: xx-large;
    background-color: #FFEA30;
    color:#000;
    font-family: 'angerpoise';
  }

  .black-bg {
    background-color: #000;
    color: #FFEA30;
    padding: 80px;
  }

  .black-bg h1 {
    color: #FFEA30;
    font-family: 'angerpoise';
    font-size: 40px;
    font-weight: 400;
  }

  .black-bg p  {
    color: #FFEA30;
    font-family: 'terminalGrotesque';
    font-size: 20px;
    font-weight: 400;
  }


  .corps {
    background-color: #13566D;
    color: #FFF;
    padding: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }