<head>
</head>

<body>
<header>
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p> cyberduck bar</p> </div>
</header>



<div class="compte"> Bienvenue dans votre tableau de bord</div>
<p class="soustitre">C'est dans ce lieu sacré que se passe toute la gestion du bar. </p>




<div class="button">
<button type="button" class="btn btn-warning" (click)="goJeux()">Inventaire des Jeux</button>
<button type="button" class="btn btn-warning" (click)="goJeuxSocietes()">Gestion des jeux de sociétés</button>
<button type="button" class="btn btn-warning" (click)="goJeuxVideos()">Gestion des jeux vidéos</button> </div>
<br>
<div class="button">
<button type="button" class="btn btn-warning" (click)="goEvenements()">Gestion des évènements</button> 
<button type="button" class="btn btn-warning" (click)="goEmprunts()">Gestion des emprunts</button> 
<button type="button" class="btn btn-warning" (click)="goClients()">Gestions des clients</button> 
</div>
<br>
<div class="button">
  <button type="button" class="btn btn-warning" (click)="goReservation()">Gestion des reservations</button>
</div>
<br>
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>

    
<div class="corps">
</div>


</body>
