header{
    height: 300px;
    display:flex;
    background-image: url(src\assets\Images\Informations.jpg); 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
 }

 .header-info {
    background-image: url(src\assets\Images\Informations.jpg);
}

.header-location {
    background-image: url(src\assets\Images\LocJeu.webp);
}

.header-inscription {
    background-image: url(src\assets\Images\Inscript.webp);
}

.header-historique {
    background-image: url(src\assets\Images\Historique.webp);
}
  
  #logo
  {
    width:30%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
  }
  
  #titre
  {
    -webkit-text-stroke: 1px #00efff;
    color: #ffeb4a;
    font-family: "cyberCity";
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    display:flex;
    justify-content:flex-start;
    align-items:center;
  }

  body {
    background-color: #000;
    min-height: 100%;
    margin: 0;
    font-family: 'terminalGrotesque';
}

.yellow-triangle {
    width: 100%;
    height: 20px;
    border-style: solid;
    border-width: 83px 0 83px 2005.556px;
    border-color: transparent transparent transparent #FFEA30;
  }

  .compte {
    color: #ffeb4a;
    font-family: 'angerpoise';
    font-size: 40px;
    font-weight: 400;
    display:flex;
    justify-content:left;
    align-items:center;
    white-space: nowrap;
  }

  .soustitre {
    color: #ffeb4a;
    font-family: 'terminalGrotesque';
    font-size: 20px;
    font-weight: 400;
    display:flex;
    justify-content:Left;
    align-items:center;
    white-space: nowrap;
  }

  .button {
    display: flex;
    width: 100%;
  }
  .button button {
    flex: 1;
    width: 25%;
    margin: 5px;
    border: none; 
    border-radius: 0%;
    font-size: xx-large;
    background-color: #FFEA30;
    color:#000;
    font-family: Angerpoise Lampshade;
  }

  .corps {
    background-color: #13566D;
    color: #FFF;
    padding: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .card-header {
    color: #FFEA30;
    width: 100%;
    font-size: x-large;
    text-align: center;
    font-family: 'angerpoise';
    font-size: 50px;
}
.mb-3 {
    color: #FFEA30;
    font-family: Terminal Grotesque;
    font-size: x-large;
}

.btn-success {
  color: #FFEA30;
    font-family: Angerpoise Lampshade;
    font-size: x-large;
    border-radius: 0;
}

.btn-warning {
  color: #000000;
    font-family: Angerpoise Lampshade;
    font-size: x-large;
    border-radius: 0;
}

.btn-danger {
  color: #FFEA30;
    font-family: Angerpoise Lampshade;
    font-size: x-large;
    border-radius: 0;
}

.table th {
  color: #FFEA30;
  background-color: #000;
}
.table td {
  color: #FFEA30;
  background-color: #000;
}

.compte p{
  color: #ffeb4a;
  font-family: 'angerpoise';
  font-size: 40px;
  font-weight: 400;
  display:flex;
  justify-content:left;
  align-items:center;
  white-space: nowrap;
}

.form-control {
  background-color: #000;
  color:#FFEA30
}

#polygon {
    height: 39px;
  } 
