<head>
</head>

<body>
<header [ngClass]="activeClass">
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p> cyberduck bar</p> </div>
</header>



<div class="compte"> Bienvenue dans votre tableau de bord</div>
<p class="soustitre">Qu'attends tu pour venir réserver ta place au prochain tournoi ou louer le dernier jeu de société à la mode. 
</p>



<div class="button">
<button type="button" class="btn btn-warning" (click)="showInfos()">Informations</button>
<button type="button" class="btn btn-warning" (click)="showLocation()">Location de Jeux</button>
<button type="button" class="btn btn-warning" (click)="showInscription()">Incription Evenements</button>
<button type="button" class="btn btn-warning" (click)="showHistorique()">Ton historique</button> </div>



      <!-- Triangle jaune -->
      <div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>
      
<div class="corps">
<div *ngIf="tabInfos">
    <div class="card-header">
       <p>Informations Clients</p>
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="tabInfos.id">
        
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="tabInfos.nom">
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prenom:</label>
            <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="tabInfos.prenom">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="tabInfos.email">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="tabInfos.username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="text" class="form-control" id="password" name="password" [(ngModel)]="tabInfos.password">
        </div>
    </div>
        <a (click)="save()" class="btn btn-success btn-lg">Changer les informations</a>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2">Annuler les changements</a>
        <a (click)="cloturer()" class="btn btn-danger btn-lg mx-2">Clôturer le compte</a>
   
</div>

<div *ngIf="tabLocation">
    <h1 class="compte"> Location de jeux</h1>

<div class="button" >
    <button type="button" class="btn btn-warning" (click)="voirTabJeuSociete()">Jeux de sociétés</button>
    <button type="button" class="btn btn-warning" (click)="voirTabJeuVideo()">Jeux Vidéos</button>
</div>

</div>


<div *ngIf="tabInscription">
        <div class="card-header">
            <p>Evenements à venir</p>
        </div>
        <div class="card-body"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Horaire de Début</th>
                        <th>Horaire de Fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of listEvents()">
                        <td>{{e.nom}}</td>
                        <td>{{e.date}}</td>
                        <td>{{e.horaireDebut}}</td>
                        <td>{{e.horaireFin}}</td>
                        <td><div class="btn-group btn-group-sm">
                            <a (click)="inscription()"><button type="button" class="btn btn-warning">Je veux participer</button></a> 
                        </div></td>         
                    </tr>
                </tbody>
        </table>
    </div>
</div>

<div class="compte" *ngIf="tablHistorique">
    <p>Résultats des évènements </p>

</div>
</div>
</body>
