header{
    height: 500px;
    display:flex;
    background-image: url(src\assets\Images\Jeux1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

 }
  
   
 #logo
 {
   margin-top: 20px;
   margin-left: 40px;
 }
 
 #titre
 {
   font-family: 'cyberCity';
   width:70%;
   font-size:60px;
   color:#FFEA30;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #00F0FF;
   text-shadow:
     5px 5px 10px #00033e,
     -5px 5px 10px #00033e,
     -5px -5px 10px #00033e,
     5px -5px 10px #00033e;
     margin-top: 100px;
     margin-left: 200px;
 }
  
body {
    background-color: #000;
    min-height: 100%;
    margin: 0;
    font-family: 'terminalGrotesque';
}

.jeux {
    color: #FFEA30;
    font-family: 'angerpoise';
    font-size: 40px;
    font-weight: 400;
    display:flex;
    justify-content:center;
    align-items:center;
    white-space: nowrap;
    padding: 40px;
  }

  .card-body {
    padding: 40px;
    background-color: #13566D;
  }

  .card-body th, td {
    background-color: #13566D;
    color: #FFEA30;
    font-family: 'terminalGrotesque';
}

.card-header {
    color: #FFEA30;
    width: 100%;
    font-size: x-large;
    text-align: center;
    font-family: 'angerpoise';
    font-size: 50px;
}

.mb-3 {
    color: #FFEA30;
    font-family: Terminal Grotesque;
    font-size: x-large;
}

.btn-success {
    color: #FFEA30;
      font-family: Angerpoise Lampshade;
      font-size: x-large;
      border-radius: 0;
  }
  
  .btn-warning {
    color: #000000;
      font-family: Angerpoise Lampshade;
      font-size: x-large;
      border-radius: 0;
  }