
<body>
<header>
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p> cyberduck bar</p> </div>
</header>

<div class="reservations"> Liste des Réservations </div>   
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>


    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Client</th>
                    <th>Date de Réservation</th>
                    <th>Evenement</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of list()">
                    <td>{{r.id}}</td>
                    <td>{{r.client?.id}}</td>
                    <td>{{r.dateReservation}}</td>
                    <td>{{r.evenement?.nom}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(r.id)" class="btn btn-primary"><i class="bi bi-pen"></i>Modifier</a>
                        <a (click)="remove(r.id)" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>
  
    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i>Ajouter réservation</a>
    </div>  </div>

   
<div *ngIf="reservationForm">
    <div class="card-header">
        Edition d'une réservation
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="reservationForm.id">
        </div>
        <div class="mb-3">
            <label for="client" class="form-label">Client:</label>
            <select class="form-select" id="client" name="client" [(ngModel)]="reservationForm.client">
                <option *ngFor="let client of listeclients()" [ngValue]="client">{{client.nom}} {{client.prenom}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="dateReservation" class="form-label">dateReservation:</label>
            <input type="date" class="form-control" id="dateReservation" name="dateReservation" [(ngModel)]="reservationForm.dateReservation">
        </div>
        <div class="mb-3">
            <label for="evenement" class="form-label">Evenement:</label>
            <select class="form-select" id="evenement" name="evenement" [(ngModel)]="reservationForm.evenement">
                <option *ngFor="let event of listeevents()" [ngValue]="event">{{event.nom}} {{event.date}}</option>
            </select>
        </div>
   
    <div class="card-footer">
        <a (click)="save()" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i>Ajouter</a>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i>Annuler</a>
    </div>
</div> </div>

