<head>
</head>

<body>
<header>
<div id="logo"><img src=".\assets\Images\logo.png" alt="logo" width="200" height="200"></div>
<div id="titre"><p> cyberduck bar</p> </div>
</header>

<div class="societe"> Liste des Jeux de société </div>   
<div id="polygon"><img src=".\assets\Images\polygon.png" alt="polygon" width=100%></div>

<ng-container *ngIf="isAdminUser()">
    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let j of list()">
                    <td>{{j.id}}</td>
                    <td>{{j.nom}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(j.id)" class="btn btn-primary"><i class="bi bi-pen"></i>Modifier</a>
                        <a (click)="remove(j.id)" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i>Ajouter jeu de société</a>
    </div>

    
<div *ngIf="jeuxSocieteForm">
    <div class="card-header">
        Edition d'un nouveau jeu de societe
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="jeuxSocieteForm.id">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="jeuxSocieteForm.nom">
        </div>
    </div>
    <div class="card-footer">
        <a (click)="save()" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i>Ajouter</a>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i>Annuler</a>
    </div>
</div>
    </ng-container>

    <ng-container *ngIf="isClientUser()">
        <div *ngIf="!showEmpruntSection">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let j of list()">
                  <td>{{ j.nom }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <a (click)="Emprunt()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i>Emprunter un jeu de société</a>
          </div>
        </div>
      
        <div *ngIf="showEmpruntSection">
          <div class="corps">
            <div class="mb-3">
              <label for="liste" class="form-label">Liste des jeux:</label>
              <select class="form-select" id="evenements" [(ngModel)]="empruntForm.jeu">
                <option *ngFor="let u of listeJeux()" [ngValue]="u">{{ u.nom }}</option>
              </select>
              <div class="card-footer">
                <a (click)="saveEmprunt()" class="btn btn-success btn-lg">Choisir ce jeu</a>
                <a (click)="cancelEmprunt()" class="btn btn-warning btn-lg mx-2">Annuler</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>